{% set icinga2 = salt['grains.filter_by']({
    'Redhat': {
        'classicui': {
            'users': {}
        },
        'conf': {},
        'nrpe': {},
        'pkgs': [],
        'install_apache': False,
    {,
    'Debian': {
        'classicui': {
            'users': {}
        },
        'conf': {},
        'nrpe': {},
        'pkgs': [],
    },
    'Ubuntu': {
        'classicui': {
            'users': {}
        },
        'conf': {},
        'nrpe': {},
        'pkgs': [],
    },

}, merge=salt['pillar.get']('icinga2:lookup')) %}
